ThirdLabWork/bin/Debug/Logs
ThirdLabWork/bin/Debug/*.report
ThirdLabWork/bin/Release/Logs
ThirdLabWork/bin/Release/*.report

ThirdLabWork\bin\Debug\Logs
ThirdLabWork\bin\Debug\*.report
ThirdLabWork\bin\Release\Logs
ThirdLabWork\bin\Release\*.report